* {
    margin:0;
    padding:0;
    }
#root{
    height: 100vh;
    font-family: 'Instrument Sans', sans-serif;
}
.div_padre{
    height: 100vh;
}

.div_body{
    display: flex;
    height: 91%;
}

.navbar{
    background-color: #1e2125;
    height: 9%;
    
}

.div_form{
    font-size: 15px;
    width: 26%;
    height: 100%;
    border-right: 8px solid #314A5A;
    padding: 10px 10px 10px 10px;
    background-color: #454545;
    /* color: rgba(255, 255, 255, 0.7); */
}

.formulario{
    width: 100%;
}

.text_tarea{
    height: 150px;
}
#input_des{
    height: 100px;
}

.img-bitam{
    width: 120px;
    margin-right: 1%;
}


#div_tabla{
    width: 74%;
    overflow: scroll;
    /* background-color: #121212; */
}

/* thead{
    color: black;
} */



.date-picker-wrapper .MuiInputBase-root {
    width: 300px; /* ajusta el ancho */
    height: 45px; /* ajusta la altura */
    font-size: 19px;
    background-color: #314A5A;
    margin: auto;
    color: whitesmoke;
    }

.box-buttons{
    display: flex;
    justify-content: space-around;
}


th{
    font-weight: 400;
}